body 
{
    background-color: rgb(187, 230, 255);
    text-align:center;
    margin: 0;
}

h1
{
    margin: 0px;
    font-size: 50px;
}

h2
{
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
}

h3
{
    font-family: 'Playfair Display SC', serif;
}

.cloud1
{
    position: relative;
    margin-top: 0%;
    right: 15%;
}

.cloud2
{
    position: relative;
    margin-top: 0% ;
    left: 15%;
}

.fixed-logo
{
    width: 100%;
    background-color: black;
    height: fit-content;
    font-size: 30px;
    color: cornsilk;
    font-family: initial;
    position: fixed;
    z-index: 1;
    height: 50px;

}

.top-container
{
    padding-top: 100px;
    width: 100%;
    height: fit-content;
    padding-bottom: 80px;
}


.inc-size
{
    font-size: 160%;
    margin-top: 0;
}

.image1
{
    margin-top: 2%;
    width: 35%;
}

.text-allignment
{
    position: relative;
    margin-top: 2%

}

.heading
{
    position: relative;
    top: 10px;
    bottom: 10px;
}

.second-container
{
    background-color: white;
    width: 100%;
    position: relative;
    margin-top: 5%;
    height: fit-content;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dotted
{
    border-style: dotted none none none;
    border-width: medium;
    width: 60%;
}

.padding
{
    padding: 5% 5% 10% 5%;
}

.edu1
{
    width: 60%;
    margin-left: 20%;
    height: 200px;
}

.float
{
    width: 150px;
    height:150px;
    float: left;
}

.edu-text
{
    position: relative;
    top: 15%;
    left: 2%;
}