body 
{
    background-color: rgb(255, 254, 213);
    text-align:center;
    margin: 0;
}


h1
{
    margin: 0px;
    font-size: 40px;
    font-family: 'Xanh Mono', monospace;

}

h2
{
    font-family: 'Playfair Display SC', serif;
}

h3
{
    font-family: 'Playfair Display SC', serif;
}

.cloud1
{
    position: absolute;
    top: 20%;
    right: 15%;
}
.cloud2
{
    position: absolute;
    top: 20%;
    left: 15%;
}


.fixed-logo
{
    width: 100%;
    background-color: black;
    height: fit-content;
    font-size: 30px;
    color: cornsilk;
    font-family: initial;
    position: fixed;
    z-index: 1;
    height: 50px;

}

.top-container
{
    background-color: rgb(167, 222, 253);
    padding-top: 100px;
    width: 100%;
    height: fit-content;
    padding-bottom: 80px;
}
.middle-container
{
    width: 100%;
    
}

.inc-size
{
    font-size: 150%;
    margin-top: 0;
}

.image1
{
    padding-top: 20px;
    width: 30%;
}

.text-allignment
{
    position: relative;
    padding-top: 12%;
}
.heading
{
    position: relative;
    top: 10px;
    bottom: 10px;
}