body {
    margin: 0;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    background-color: black;
}

p {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 300%;
}

.images {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.cylinder {
    position: absolute;
}

.cylinder1 {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
    margin-right: 50%;
    margin-left: 7%;
    text-align: center;
}

.cylinder2 {
    padding: 3%;
    margin-right: 50%;
    margin-left: 7%;
    text-align: center;
}

.cutter {
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    background-color: #000000;
    text-align: center;
}

@media screen and (min-width:638px) and (max-width: 1020px) {

    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 200%;
    }

}


@media screen and (max-width: 640px) {

    .images {
        position: relative;
        width: 100%;
    }

    .cylinder {
        position: relative;
    }

    .cylinder1 {
        width: 81%;
        text-align: center;
    }

    .cylinder2 {
        width: 85%;
    }
    
}