.footer
{
    text-align: center;
    background-color: #000000;
    color: blueviolet;
    padding: 1%;
    width: 98%;
}

body
{
    font-family:'arial';
    background-color:white;
    color: black;
    text-align: center;

}

.uni
{
    font-family: 'Times New Roman';
    font-weight: 500;
}

.title
{
    font-family: fantasy;
    font-weight: bolder;
    color: tomato;
}

.dotted
{
    border-style: dotted none none none;
    border-width: thick;
    width: 10%;
}
h1
{
    font-size: 70px;
    font-family: serif;
}
h3
{
    font-size: 40px;
    font-family: serif;
    color: orange;
}
h4
{
    font-size: 40px;
    font-family: serif;
    color: orange;
}