body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.container1 {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    margin-left: 4%;
}

.container2 {
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (min-width:856px) and (max-width: 1084px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 856px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    .container1 {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0;
    }
    
    .container2 {
        padding-left: 15%;
        padding-right: 15%;
    }

}
